/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */


.inter-bodyfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.afacad-flux-headings {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

body {
  font-family: "Inter" , sans-serif;
  font-size: 10px;
  line-height: 1.75rem;
}

h1 , h2 {
  font-family: "Afacad Flux" , sans-serif;
  font-size: 2.25rem;
  letter-spacing: .25rem;
}

h2 {
  font-size: 1.75rem;
}

p, li {
  font-size: 1rem;
}

h1 {
  text-align: center;
}

p {
  text-indent: 1.25rem;
  }


/*unvisited*/   
a:link {
  color: #a66;
}

/*visited*/
a:visited {
  color: rgb(108, 65, 65);
}

/* hover*/
a:hover {
  text-decoration: none;

}

a:focus {
  text-decoration: none;
  
}

a:active {
  color:rgb(235, 41, 41);
  background-color: rgba(205, 96, 96, 0.518);
}

/*got from https://css-irl.info/styling-external-links-with-attribute-selectors/*/
a[href^='http']::after {

  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.2 12.2' width='14' height='14'%3E%3Cpath d='M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z'/%3E%3Cpath fill='none' d='M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z'/%3E%3Cpath d='M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z'/%3E%3C/svg%3E");
  margin-left: 0.25em;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*maybe add padding and margin*/
}

nav ul li {
  margin-bottom: 2rem;
}

nav ul li a {
  display: block;
  padding: 1.8rem;
  text-align: center;
  /*background-color: rgba(190, 116, 116, 0.539);*/
  border: 1px solid #a66;
  color:#a66;
  text-decoration: none;
  font-size: 1.5rem;

}

nav ul li a:hover {
  background-color: rgba(170, 102, 102, 0.356);
}

nav ul li a:active {
  background-color: rgba(170, 102, 102, 0.726);
}
